.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.music {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.music button {
  border-radius: 20%;
  padding: 9px;
  margin: 8px 0;
}
.pauseBtn {
  background-color: rgba(255, 255, 255, 0.815);
  border: solid 2px #cbadda;
}
.playBtn {
  background-color: #af8dc0;
  border: solid 2px #cbadda;
  box-shadow: 2px 2px 5px #cbadda;
}
.volumediv {
  display: flex;
  width: fit-content;
}
.volume {
  width: 50px;
  height: 10px;
}
