.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.music {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.musicBtn {
  background-color: rgba(00, 00, 00, 0.3);
  border: solid rgba(00, 00, 00, 0.2);
  border-radius: 20%;
  padding: 9px;
  margin: 8px 0;
}
.volumediv {
  display: flex;
  width: fit-content;
}
.volume {
  width: 50px;
  height: 10px;
}
