.contentComponent {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.contentComponent > div {
  width: 40%;
  height: 90%;
  background-color: #efefef;
  border: 1px solid lightgray;
  border-radius: 10px;
}
/* .contentComponent > div > h1 {
  text-align: center;
  height: 15%;
  background-color: #d1d1d1;
  border-radius: 10px;
  margin: 2px;
  padding: 7px;
} */
.item,
.detail {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  overflow-x: hidden;
}

.item > input[type="text"],
.detail > button {
  margin: 10px 0;
  background-color: #e9e2df;
  text-overflow: ellipsis;
  font-size: 24px;
  overflow: hidden;
  padding: 2px;
  /* border: 1px solid #444; */
  border: none;
  border-radius: 10px;
  width: 90%;
  font-size: 24px;
  color: #444;
}

.detail textarea {
  border: none;
  border-bottom: 1px solid #e9e2df;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 24px;
  color: black;
  outline-color: #e9e2df;
}
.detail textarea:disabled {
  color: rgb(32, 32, 32);
}
.detail textarea:enabled {
  background-color: rgba(255, 255, 255, 0.503);
}
