.header {
  position: fixed;
  width: 100vw;
  height: 56px;
  background: transparent;
  border: solid blue;
}

.communiBtn {
  display: flex;
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 24px;
  margin: auto;
}
