.scene {
  width: 100vw;
  height: 100vh;
}

.canvas {
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

.space {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.sidebar {
  position: fixed;
  display: flex;
  border: solid red;
  width: 10%;
  height: 60%;
  top: 60px;
  left: 90%;
}

.time {
  position: fixed;
  top: 86vh;
  padding: 0;
  text-align: center;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
