.space {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.sidebar {
  position: fixed;
  display: flex;
  border: solid red;
  width: 10%;
  height: 60%;
  top: 20%;
  left: 88%;
}

.time {
  position: fixed;
  top: 86vh;
  padding: 0;
  text-align: center;
  margin: 0;
}

.timer {
  font-size: 32px;
  font-weight: 700;
}

.todo {
  position: fixed;
  display: flex;
  /* border: solid red; */
  width: 25%;
  height: 60%;
  top: 20%;
  right: 73%;
}
