.btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  cursor: pointer;
}

.time {
  font-size: 3rem;
  color: #fff;
}
