.todo {
  width: 100%;
  height: 100%;
}
.todoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #af7eeb;
  border-radius: 3px;
  border: 1px solid #c6a6ec;
}
.todoHeader p {
  margin: auto;
  padding: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}
.todoHeader .icon {
  color: #ffffff;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.todoList {
  width: 100%;
  height: 90%;
  padding: 20px 5px;
  margin-top: 20px;
  background-color: #ffffff2e;
  border: 2px solid #e5d3e7;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
}
.todoList div label {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}
.todoItem {
  width: 80%;
  display: flex;
  align-content: center;
  align-items: center;
}
.todoItem input:checked ~ p {
  content: "";
  text-decoration: line-through;
  color: #303030;
}
.todoItem p {
  width: 80%;

  margin: 10px 0 10px 10px;
  padding: 0;
}
.todolabel:hover .todoDelete {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0s;
}
.todoDelete {
  visibility: hidden;
  opacity: 0;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.todoButton {
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid rgb(234, 194, 235);
  background-color: #af7eeb;
  padding: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}
.addBox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  visibility: visible;
}
.addBox input {
  width: 80%;
  border: none;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.253);
}
.addBox button {
  margin-right: 1px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #c6a6ec;
  border: none;
}
